@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .btn{
        @apply w-fit px-4 py-1 border rounded-full cursor-pointer flex items-center gap-2
    }
    .arrow{
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;      
    }
    .down{
        transform: rotate(45deg);
    }
}

img{
    display:block;
    min-width: 100%;;
}

body{
    min-height: 100vh;
    background-color: rgba(250,250,250);
}

input, textarea, button{
    display:block;
    width: 100%;
    outline: none;
}